{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "simple-import-sort"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "react-app"
  ],
  "rules": {
    "simple-import-sort/imports": ["warn", {
      "groups": [
        ["^react", "^\\u0000", "^@?\\w", "^[^.]", "^\\."],
        ["src"]
      ]
    }],
    "simple-import-sort/exports": "warn"
  }
}
