.challenge {}

.challenge-create-person-button {}

.challenge-persons {
  margin-top: 10px;
}

.challenge-person {
  height: 30px;
  display: flex;
  align-items: center;
}

.challenge-person-id {
  width: 20px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}

.challenge-person-name {}

.challenge-person-save-name-button {}